{{ form_start(form) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.price) }}
    {{ form_row(form.maximumCustomerNumber) }}
    {{ form_row(form.slotTaken) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
