{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Creator</th>
                <td>{{ course.creator.firstName~" "~course.creator.lastName }}</td>
            </tr>
            <tr>
                <th>Maximum customer</th>
                <td>{{ course.maximumCustomerNumber }}</td>
            </tr>
            <tr>
                <th>CourseDate</th>
                <td>{{ course.slotTaken.slotDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Début du cours</th>
                <td>{{ course.slotTaken.slot.startTime|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Fin du cours</th>
                <td>{{ course.slotTaken.slot.endTime|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ course.price }}</td>
            </tr>
            <tr>
                <th>Left places</th>
                <td>{{ course.leftPlace }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    {% if is_granted("ROLE_CUSTOMER") %}
                        <a href="{{ path('app_course_join', { 'id' : course.id }) }}">Join this course</a> {#TODO : join/leave in function if suscribed or not #}
                        <a href="{{ path('app_course_leave', { 'id' : course.id }) }}">Leave this course</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <p>Participants</p>
    {% for customer in course.customers %}
        <a href="{{ path('app_user_show', {'id' : customer.id }) }}">{{ customer.firstName }}</a>
    {% endfor %}

    <a href="{{ path('app_course_index') }}">back to list</a>

    <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
