{% extends 'base.html.twig' %}

{% block title %}SlotAllowed index{% endblock %}

{% block body %}
    <h1>SlotAllowed index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slot_allowed in slot_alloweds %}
            <tr>
                <td>{{ slot_allowed.id }}</td>
                <td>{{ slot_allowed.startTime ? slot_allowed.startTime|date('H:i:s') : '' }}</td>
                <td>{{ slot_allowed.endTime ? slot_allowed.endTime|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('slot_allowed_show', {'id': slot_allowed.id}) }}">show</a>
                    <a href="{{ path('slot_allowed_edit', {'id': slot_allowed.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slot_allowed_new') }}">Create new</a>
{% endblock %}
