{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <h1>Room Overview</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Places</th>
            <th>Size</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.places }}</td>
                <td>{{ room.size }}</td>
                <td>
                    <a href="{{ path('app_room_show', {'id': room.id}) }}">show</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_room_edit', {'id': room.id}) }}">edit</a>
                        {{ include('room/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_room_new') }}">Create new</a>
{% endblock %}